<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CRM</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
  </head>
  <body>
    <header>
      <h1>Welcome to <%= @crm_app_name %>!</h1>
    </header>

    <p>Main menu</p>
    <ul>
      <li><a href="/contacts">View all contacts</a></li>
      <li><a href="/contacts/new">Create contact</a></li>
      <li><a href="#">Delete contact</a></li>
      <li><a href="#">Modify contact</a></li>
      <li><a href="#">Search by attribute</a></li>
      <li><a href="#">Exit??</a></li>
      <!-- please complete me with links to other actions -->
    </ul>
  </body>
</html>
